/*------------------------------------------------------------------
Background Color
-------------------------------------------------------------------*/
.bg-color,
.account-popup > form button,
.layer.color::before,
.pricetable > a,
.pricetable.active,
.bottom-line.style2{
    background-color: #141f72 ;
}

/*------------------------------------------------------------------
Text Color
-------------------------------------------------------------------*/
.text-color,
.pricetable-head h2,
.pricetable.active > a{
    color: #141f72;
}

/*------------------------------------------------------------------
Border Color
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
COLOR SCHEME 2
-------------------------------------------------------------------*/

.forsticky.sticky .post-job-btn{
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #546E7A;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #546E7A;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #546E7A;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #546E7A;
    background: transparent; color: #546E7A;
}
.post-job-btn{
    background-color: #546E7A ; border: 2px solid #546E7A;
}


.bg-color,
.post-job-btn,
.account-popup .close-popup,
.blog-metas a::before{
    background-color: #546E7A ;
}

/*------------------------------------------------------------------
Text Color
-------------------------------------------------------------------*/
.text-color,
.menu-sec nav > ul > li > ul li:hover > a,
.account-popup > form .cfield i,
.account-popup > form > a,
.chosen-container-single .chosen-single div::before,
.job-field i,
.chosen-container .chosen-results li.highlighted,
.active-result.result-selected,
.scroll-to a,
.p-category > a p,
.p-category:hover i,
.job-title-sec span,
.blog-metas a,
.blog-details > a{
    color: #546E7A ;
}

/*------------------------------------------------------------------
Border Color
-------------------------------------------------------------------*/
.border-color,
.select-user > span.active,
.browse-all-cat a{
    border-color: #fb236a ;
}

