.job-listing{
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    padding: 10px!important;
    margin: 5px!important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.job-listing a{
    width: 100%;
    color: #1d2124;
}
.job-listing .job-left{
    position: relative;
    width: 100px;
    float: left;
    padding: 10px;
}
.job-listing .job-center{
    position: relative;
    width: calc(80% - 100px);
    float: left;
    padding: 10px;
}
.job-listing .job-right{
    position: relative;
    width: 20%;
    float: left;
    padding: 10px;
}
.job-listing .job-right-endorser{
    position: relative;
    width: 15%;
    float: left;
    padding: 10px;
}
.job-listing .job-bottom{
    position: relative;
    width: 100%;
    float: left;
    padding: 10px;
    clear: both;
}
.job-data{
    position: relative;
    width: auto;
    float: left;
    display:block;
    line-height: 32px;
    margin-right: 32px;
}
.job-data i{
    top: 5px;
    position: relative;
    margin-right: 10px;
}
.job-logo{
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    border-radius: 20px !important;
}

.job-endorse {
    position: relative;
    float: left;
    width: 80%;
    overflow: hidden;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    border-radius: 20px !important;
}

.job-endorse img {
    width: 80% !important;
}

.job-logo img {
    width: 100% !important;
}
.job-position, .job-company, .job-summary{
    position: relative;
    float: left;
    width: calc(100% - 120px);
}
.job-position{
    font-size: 1.5em;
}
.job-company{
    font-size: 1.1em;
    font-weight: 300;
}
.job-summary{
    font-style: italic;
    font-size: 1em;
    font-weight: 300;
}
.job-listing.rounded:hover {
    background: #ffffff;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    border-radius: 20px !important;
    margin-top: 0;
}
.job-reward{
    width: auto;
    float: right;
    position: relative;
    clear: both;
    font-family: 'Raleway', sans-serif !important;
    text-align: right;
}
.job-reward p.reward{
    color: black;
    font-size: 2em;
    letter-spacing: 2px;
    float: right;
    text-align: right;
    margin-bottom: 0;
}