<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" type="image/png" href="/images/te_icon.png">
	<title>Talendorse. The net works.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Talendorse">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css" />
	<link rel="stylesheet" type="text/css" href="/css/jobs.css" />
	<link rel="stylesheet" href="/css/icons.css">
	<link rel="stylesheet" href="/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/custom-style.css" />
	<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="/css/chosen.css" />
	<link rel="stylesheet" type="text/css" href="/css/colors/colors.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

</head>
<body>
	<div class="page-loading">
		<img src="/images/loader.gif" alt="" />
		<span>Skip Loader</span>
	</div>

	<div class="theme-layout" id="scrollup">

		<!-- RESPONSIVE HEADER -->
		<div th:replace="general.html :: responsive_header(islogged3=${logged}, usrId3=${userId}, profileUrl3=${urlAvatar}, userName3=${name}, userSurname3=${surname}, userEmail3=${email}, isAdmin3=${isAdmin})"></div>

		<!-- HEADER -->
		<div th:replace="general.html :: header(isLogged=${logged}, profileUrl=${urlAvatar})"></div>

		<section class="overlape">
			<div class="block no-padding">
				<div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
				<div class="container fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="inner-header">
								<h3>Mi Perfil</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="block no-padding">
				<div class="container">
					<div class="row">
						<aside class="col-lg-3 border-right">
							<div class="widget">
								<div class="tree_widget-sec">
									<ul>
										<li class="inner-child">
											<a href="#" title=""><i class="la la-file-text"></i>Mi Perfil</a>
											<ul>
												<li><a href="#MisDatos" title="" onclick="SmoothScrollTo(this,0)">Mis Datos</a></li>
												<li><a href="#MisOfertas" title="" onclick="SmoothScrollTo(this,0)">Mis Ofertas</a></li>
												<li><a href="#MisRecomendaciones" title="" onclick="SmoothScrollTo(this,0)">Mis Recomendaciones</a></li>
											</ul>
										</li>
										<li><a  href="/logout" title=""><i class="la la-unlink"></i>Desconectar</a></li>
									</ul>
								</div>
							</div>
						</aside>
						<div class="col-lg-9">
							<div class="row">
								<div class="col-md-12 myProfile">
									<div class="profile-title">
										<h3 id="MisDatos">Mis Datos</h3>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 ">
									<div class="upload-img-bar">
										<span class="round"><img th:src="${myProfile.urlAvatar}" alt="" /></span>
									</div>
								</div>
								<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
									<div class="profile-form-edit">
										<form>
											<div class="row">
												<div class="col-lg-6">
													<span class="pf-title">Name</span>
													<div class="pf-field">
														<input type="text" th:value="${myProfile.name}" disabled/>
													</div>
												</div>
												<div class="col-lg-6">
													<span class="pf-title">Surname</span>
													<div class="pf-field">
														<input type="text" th:value="${myProfile.surname}" disabled/>
													</div>
												</div>
												<div class="col-lg-6">
													<span class="pf-title">Email</span>
													<div class="pf-field">
														<input type="text" th:value="${myProfile.email}" />
													</div>
												</div>
												<div class="col-lg-12">
													<button type="submit">Actualizar</button><!--TODO: connectar con linkedin para actualizar los datos.-->
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 myProfile">
									<h3 id="MisRecomendaciones">Mis Recomendaciones</h3>
									<div class="job-listings-sec">
										<div th:each="endorse: ${listMyEndorsements}" th:object="${endorse}" class="job-listing" th:data-status="*{status}">
											<div class="details active">
												<div class="label">Detalles</div>
												<div class="name" th:text="*{position}"></div>
												<div class="data" th:inline="text"><i class="la la-map-marker la-2x"></i>  [[*{city}]]</div>
												<div class="data" th:inline="text"><i class="la la-calendar la-2x"></i> [[*{date_start_string}]] - [[*{date_end_string}]]</div>
												<div class="data" th:inline="text"><i class="la la-money la-2x"></i>  [[*{reward}]]€</div>
											</div>
											<div class="company">
												<div class="label">Empresa</div>
												<img class="logo" th:src="*{path_image_company}" />
												<div class="name" th:text="*{nameCompany}"></div>
												<div class="summary" th:utext="*{summary}"></div>
											</div>
											<div class="candidate">
												<div class="label">Candidato</div>
												<img class="logo" th:src="*{path_image_candidate}" />
												<div class="name" th:text="*{candidate}"></div>
												<div class="email" th:text="*{email_candidate}"></div>
											</div>
											<a th:href="'/offer/' + *{id_offer}">
												<div class="go">
													<div class="label">Ver Oferta</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 myProfile" >
									<h3 id="MisOfertas" >Mis Ofertas</h3>
									<div class="job-listings-sec">
										<div th:each="offer: ${listMyOffers}" th:object="${offer}" class="job-listing" th:data-status="*{status}">
											<div class="details active">
												<div class="label">Detalles</div>
												<div class="name" th:text="*{position}"></div>
												<div class="data" th:inline="text"><i class="la la-map-marker la-2x"></i>  [[*{city}]]</div>
												<div class="data" th:inline="text"><i class="la la-calendar la-2x"></i> [[*{date_start_string}]] - [[*{date_end_string}]]</div>
												<div class="data" th:inline="text"><i class="la la-money la-2x"></i>  [[*{salary_min}]]€ - [[*{salary_max}]]€</div>
											</div>
											<div class="company">
												<div class="label">Empresa</div>
												<img class="logo" th:src="*{path_image_company}" />
												<div class="name" th:text="*{nameCompany}"></div>
												<div class="summary" th:utext="*{summary}"></div>
											</div>
											<div class="candidate">
												<div class="label">Endorser</div>
												<img class="logo" th:src="*{path_image_endorser}" />
												<div class="name" th:text="*{endorser}"></div>
											</div>
											<a th:href="'/offer/' + *{id_offer}">
												<div class="go">
													<div class="label">Ver Oferta</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- FOOTER -->
		<div th:replace="general.html :: footer"></div>

	</div>

	<!-- SIDEBAR -->
	<div th:replace="general.html :: sidebar(islogged2=${logged}, usrId=${userId}, profileUrl2=${urlAvatar}, userName=${name}, userSurname=${surname}, userEmail=${email}, isAdmin=${isAdmin})"></div>

	<!-- SCRIPTS -->
	<div th:replace="general.html :: scripts"></div>

	<script src="/js/tag.js" type="text/javascript"></script>
	<script src="/js/maps3.js" type="text/javascript"></script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCYc537bQom7ajFpWE5sQaVyz1SQa9_tuY&sensor=true&libraries=places"></script>
	<script type="text/javascript">
		$(".details,.company,.candidate").click(function(){
			$(this).parents(".job-listing").find(".active").removeClass("active");
			$(this).addClass("active");
		});
	</script>
	</body>
</html>
