<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="/images/te_icon.png">
        <title>Talendorse. The net works.</title>

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css" />
        <link rel="stylesheet" href="css/icons.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/custom-style.css" />
        <link rel="stylesheet" type="text/css" href="css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="css/chosen.css" />
        <link rel="stylesheet" type="text/css" href="css/colors/colors.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    </head>
    <body>

        <!-- RESPONSIVE HEADER -->
        <div th:replace="general :: responsive_header"></div>

        <!-- HEADER -->
        <div th:replace="general.html :: header(isLogged=${logged}, profileUrl=${urlAvatar})"></div>

        <section class="overlape">
            <div class="block no-padding">
                <div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
                <div class="container fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner-header">
                                <h3>Política de privacidad de TalEndorse, S.A. (la Compañía)</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="block no-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 50px;">
                            <table width="566">
                                <tbody>
                                <tr>
                                    <td>
                                        <p><strong>Derecho de oposición</strong>: Tiene derecho, en virtud de la ley, a oponerse en cualquier momento a lo siguiente:</p>
                                        <p>(i) a que se use su información personal con fines de marketing directo; y</p>
                                        <p>(ii) a que se trate su información personal que se basa en nuestro interés legítimo, salvo que haya motivos legítimos imperiosos para que continuemos. </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p>&nbsp;</p>
                            <p>La Compañía (también conocido como "nosotros", o "nuestro"), nos comprometemos a proteger la privacidad de nuestros candidatos, clientes y usuarios de nuestro sitio web. Queremos ofrecer una experiencia de usuario sin riesgos. Nos aseguraremos de que la información que nos proporciona, o la información que obtenemos, a través de diversos canales (incluido nuestro sitio web, por medio de correspondencia escrita —incluidos los mensajes de correo electrónico—, conversaciones o reuniones con nuestros trabajadores, o por medio de cualquiera de nuestras oficinas o sitios web), se utiliza solamente con los fines establecidos en esta política.</p>
                            <p>Con esta Política de privacidad, nuestra intención es informarle sobre los tipos de datos personales que recogemos de los candidatos, los fines para los que utilizamos los datos y las formas en que se gestionan tales datos. También procuramos cumplir con la obligación de transparencia en virtud del Reglamento General de Protección de Datos 2016/679 de la UE ("<strong>RGPD</strong>") y con las legislaciones nacionales en las que se aplica el RGPD.</p>
                            <p> A efectos de la presente Política de privacidad, el responsable del tratamiento de datos es las Compañías y nuestros datos de contacto figuran en la sección de <a href="https://www.michaelpage.es/politica-privacidad#contact">Contacto</a>, al final de esta Política de privacidad.</p>
                            <p><strong>La información que recogemos </strong></p>
                            <p>Recogeremos sus datos personales, lo cual incluirá, pero no se limitará, a su nombre y datos de contacto (junto con su dirección de correo electrónico) y otra información pertinente de su Curriculum Vitae ("CV"). Cuando recibamos sus datos y CV por medios electrónicos, esto podrá realizarse por medio de una solicitud directa realizada a través de uno de nuestros sitios web, o por una solicitud que haya presentado a través de un portal de empleo de terceros.</p>
                            <p>&nbsp;</p>
                            <p>Es probable que obtengamos información personal adicional acerca de usted a medida que progresa nuestra relación laboral con usted. Esta información podrá obtenerse de usted directamente o de terceros, tales como organizaciones a las que les hayamos proporcionado su CV y que hayan estado en contacto con usted como parte de una solicitud de trabajo.</p>
                            <p><strong>Cómo utilizamos su información personal</strong></p>
                            <p>Mantendremos, usaremos y divulgaremos su información personal con nuestros fines comerciales legítimos, los cuales incluyen: </p>
                            <ol>
                                <li>Prestarle nuestros servicios a usted;</li>
                                <li>Mantener nuestra relación comercial, cuando usted es un usuario de nuestro sitio web, un cliente o un candidato; </li>
                                <li>Permitirle que nos envíe su CV para solicitudes de carácter general, para solicitar puestos de trabajo específicos o a fin de suscribirse a nuestras alertas de trabajos. Le rogamos que vea la sección independiente sobre <a href="https://www.michaelpage.es/politica-privacidad#curriculumvitae">CV</a> que figura más abajo, donde se definen los usos y divulgaciones adicionales;</li>
                                <li>Buscar ofertas de trabajo adecuadas, teniendo en cuenta sus datos para ayudarle a encontrar el cargo que se ajuste más a su perfil, y enviar su información personal a clientes para solicitar puestos de trabajo</li>
                                <li>Mantener sus datos y notificarle acerca de oportunidades laborales futuras, más allá de la posición específica a la que ha aplicado.</li>
                                <li>Responder a sus preguntas;</li>
                                <li>Realizar marketing directo de productos y servicios, informarle acerca de novedades, tendencias, estudios, informes, eventos que organizamos y otra pudieran resultarle interesantes. Antes de hacerlo, usted tendrá la oportunidad de que se le excluya de todo ese tipo de comunicaciones y, además, se le proporcionará la opción de darse de baja en cada una de las comunicaciones;</li>
                                <li>Para cumplir las obligaciones contractuales con nuestros clientes;</li>
                                <li>Proporcionarle servicios adicionales compartiendo su información personal con otras empresas de nuestro Grupo de empresas, así como con terceros de confianza. Puede encontrar más información en la sección independiente <a href="https://www.michaelpage.es/politica-privacidad#personaldata">divulgación de su información personal</a> que figura a continuación;</li>
                                <li>divulgar información personal a organismos reguladores o a las autoridades policiales, si así se nos exige o permite; </li>
                                <li>Nuestro sitio web utiliza un servicio de registro de sitios web que puede llevar un registro de los clics, movimientos del ratón, desplazamiento en las páginas y de cualquier texto que se haya escrito en los formularios del sitio. Los datos obtenidos por medio de este servicio se utilizan para mejorar el uso del sitio. La información recogida se almacena y se utiliza para la creación de informes estadísticos con datos agregados, y no se comparte con nadie más.</li>
                                <li>A fin de ofrecerle contenido personalizado en nuestro sitio web, así como comunicaciones más pertinentes en nuestros mensajes de correo electrónico y un servicio de nuestros consultores más adaptado a sus requisitos, rastreamos y llevamos un registro de su uso e interacción con nuestro sitio web y mensajes de correo electrónico. Contratamos a un proveedor externo para que nos ayude a registrar, almacenar y analizar esta información a fin de determinar cuál es la mejor manera de ofrecerle la mejor experiencia a la hora de buscar empleo. Nos aseguramos de que, en esta base de datos, no haya atributos que puedan identificar a las personas y, aparte del proveedor externo de nuestra elección, no compartimos esta información con ninguna otra empresa ni afiliada.</li>
                            </ol>
                            <p>Podemos procesar, de acuerdo con las regulaciones locales, ciertos datos personales sensibles (conocidos como datos de categoría especial en GDPR) cuando usted los incluye en la información que nos envía, por ejemplo, si incluye información sobre su salud o religión en el CV que nos envía.  También es posible que se nos exija llevar a cabo una comprobación de antecedentes penales con respecto a sus datos en los países en los que la ley así lo exija o permita.  Contamos con procesos para limitar el uso y la divulgación de dichos datos confidenciales fuera de los límites permitidos o exigidos por la ley.</p>
                            <p>&nbsp;</p>
                            <p><strong>El fundamento jurídico para el tratamiento de su información personal</strong></p>
                            <p>En virtud del RGPD, los principales argumentos en los que podemos basarnos para tratar información personal de nuestros clientes y candidatos son los siguientes:</p>
                            <p>(a) <strong>Necesario para la celebración o el cumplimiento de un contrato</strong> – a fin de cumplir con las obligaciones que asumimos al prestarle un servicio a usted, o a fin de tomar las medidas que usted nos solicite para celebrar un contrato con nosotros, será necesario que tratemos sus datos personales;</p>
                            <p>&nbsp;</p>
                            <p>(b) <strong>Necesario para el cumplimiento de una obligación legal</strong> – estamos sujetos a determinados requisitos legales que pueden exigirnos que tratemos sus datos personales. También es posible que estemos obligados, por ley, a divulgar sus datos personales a un organismo regulador o a las autoridades policiales;</p>
                            <p>&nbsp;</p>
                            <p>(c) <strong>Necesario a efectos de un interés legítimo</strong> - nosotros, o un tercero, tendrán la necesidad de tratar sus datos personales a los efectos de nuestro interés legítimo (o el interés legítimo de un tercero), siempre que hayamos dejado claro que dicho interés no queda anulado por sus derechos y libertades, incluido su derecho a que se protejan sus datos personales. Nuestro interés legítimo incluye responder a pedidos y solicitudes de usted o de un tercero, optimizar nuestro de la web y la experiencia de los clientes, ofrecerle información sobre nuestros productos y servicios y garantizar que nuestras operaciones se llevan a cabo de forma apropiada y eficiente;</p>
                            <p>&nbsp;</p>
                            <p>(d) <strong>Consentimiento</strong> – en determinadas circunstancias, es posible que le solicitemos su consentimiento para tratar sus datos personales de una determinada manera. </p>
                            <p>&nbsp;</p>
                            <p><strong>Cómo compartimos su información personal </strong></p>
                            <p>En determinadas circunstancias, compartiremos su información personal con terceros. A continuación figuran los datos de dichos terceros, y los motivos que nos llevarían a compartir la información con ellos.</p>
                            <p>Clientes</p>
                            <p>Divulgamos su información personal a clientes que tienen vacantes para puestos de trabajo de su interés.</p>
                            <p>Terceros de confianza</p>
                            <p>Compartiremos su información personal y, de ser necesario, su información personal sensible con terceros de confianza, siempre que los hayamos contratado para prestar servicios que usted o nuestros clientes hayan solicitado, tales como:</p>
                            <ul>
                                <li>Verificación de referencias laborales;</li>
                                <li>Verificación de cualificaciones;</li>
                                <li>Verificación de antecedentes penales (de acuerdo con las regulaciones locales);</li>
                                <li>Verificación de datos que usted haya proporcionado de fuentes externas; y/o</li>
                                <li>Pruebas psicométricas o de aptitud.</li>
                            </ul>
                            <p>También transmitiremos su información personal a terceros que desempeñen funciones en nuestro nombre y que nos presten servicios a nosotros tales como:</p>
                            <ul>
                                <li>Asesores profesionales;</li>
                                <li>Prestadores de servicios de análisis de datos;</li>
                                <li>Consultores de TI que realicen pruebas y tareas de desarrollo en nuestros sistemas de tecnología comercial;</li>
                                <li>Empresas de investigación y envíos de correo; y/o</li>
                                <li>Coordinadores de funciones.</li>
                            </ul>
                            <p>Exigimos a dichas partes que cumplan con requisitos de confidencialidad y protección de datos. En la medida en que cualquiera de los datos personales se transmitan a terceros situados fuera del Espacio Económico Europeo ("EEE"), o que accederán a la información personal desde fuera del EEE, nos aseguraremos de que se apliquen salvaguardias aprobadas, tales como las Cláusulas Modelo aprobadas o el Escudo de la privacidad UE/EE. UU.</p>
                            <p>&nbsp;</p>
                            <p>Organismos reguladores y autoridades policiales</p>
                            <p>De conformidad con lo antedicho, si recibimos una solicitud de un organismo regulador o de las autoridades policiales y si así lo permite el RGPD y las demás leyes, es posible que divulguemos determinados datos personales a tales organismos u autoridades.</p>
                            <p>&nbsp;</p>
                            <p>Nuevos propietarios de la empresa</p>
                            <p>Si nosotros o nuestra empresa se fusiona con otra empresa o es adquirida por otra empresa, compartiremos su información personal con los nuevos propietarios de la empresa y sus asesores. Si esto sucede, usted recibirá una notificación al respecto.</p>
                            <p>&nbsp;</p>
                            <p><strong>Durante cuánto tiempo mantendremos su información</strong></p>
                            <p>El periodo durante el cual mantendremos o almacenaremos su información personal dependerá de los servicios que le prestemos y del tiempo durante el cual los necesite. Dado que, con frecuencia, asistimos a los candidatos procurándoles puestos de trabajo durante muchos años, posiblemente, durante toda su carrera, el fin con el que mantenemos datos de nuestros clientes es, por lo general, un fin continuo. Realizamos ejercicios de limpieza y actualización de datos periódicamente en relación con nuestros candidatos a fin de garantizar que (a) los datos que poseemos sean exactos y (b) no mantengamos datos durante más tiempo del necesario.</p>
                            <p>Nuestras condiciones comerciales estándar establecen que nuestros clientes deben mantener los datos de los candidatos (tales como sus CV) con los fines del puesto específico solicitado y que, como responsables de sus datos, deben informarle si tienen pensado conservar su CV en sus archivos a fin de avisarle de posibles futuras vacantes o, de otro modo, de mantener o usar sus datos con otros fines.</p>
                            <p><strong>Sus derechos sobre la información que mantenemos sobre usted </strong></p>
                            <p>Usted goza de ciertos derechos en relación con la información personal que mantenemos acerca de usted. A continuación figura información sobre estos derechos y sobre cómo ejercerlos. Le exigiremos que presente pruebas de su identidad antes de que podamos llevar a cabo su solicitud.</p>
                            <p>Derecho de acceso</p>
                            <p>Tiene derecho, en cualquier momento, a solicitarnos una copia de la información personal que mantenemos sobre usted. Si tenemos motivos válidos, y si el RGPD así lo permite, podemos rechazar su solicitud de una copia de su información personal, o determinados elementos de la solicitud. Si rechazamos su solicitud o cualquier elemento de la misma, le informaremos acerca de cuáles han sido los motivos.</p>
                            <p>Derecho de corregir o completar la información</p>
                            <p>Si la información personal que poseemos sobre usted no es exacta, no está actualizada o está incompleta, tiene derecho a que se rectifiquen, actualicen o completen tales datos. Nos puede informar contactando con nosotros por medio de uno de los métodos descritos en la <a href="https://www.michaelpage.es/politica-privacidad#contact">Sección de contacto</a> que figura a continuación<strong>.</strong></p>
                            <p>Derecho de supresión</p>
                            <p>En determinadas circunstancias, usted tiene derecho a solicitar la supresión de cierta información personal que tengamos sobre usted, p. ej. si la información ha dejado de ser necesaria a efectos de los fines con los que dicha información se recogió o trató, o si nuestro tratamiento de la información está basado en su consentimiento y no hay otros fundamentos jurídicos con sujeción a los cuales podamos tratar la información.</p>
                            <p>Derecho de oposición o limitación del tratamiento</p>
                            <p>En determinadas circunstancias, usted tiene derecho a oponerse a que tratemos su información personal, poniéndose en contacto con nosotros a través de cualquiera de los métodos descritos en la <a href="https://www.michaelpage.es/politica-privacidad#contact">Sección de contacto</a> que figura a continuación. Por ejemplo, puede hacerlo si estamos tratando su información con el fundamento de nuestro interés legítimo y no hay motivos legítimos imperiosos para tal tratamiento que anulen sus derechos e intereses. Usted también tiene derecho a oponerse al uso de su información personal con fines de marketing directo.</p>
                            <p>También puede tener derecho a limitar el uso que le damos a su información personal, por ejemplo, en circunstancias en que usted haya cuestionado la exactitud de la información y mientras estemos verificando su exactitud.</p>
                            <p>Derecho a la portabilidad de los datos</p>
                            <p>En determinados casos, usted tiene derecho a recibir cualquier información personal que mantengamos sobre usted en un formato estructurado, de uso común y lectura mecánica.</p>
                            <p>&nbsp;</p>
                            <p>Puede pedirnos que le transmitamos dicha información a usted o directamente a una organización considerada un tercero.</p>
                            <p>&nbsp;</p>
                            <p>Los derechos antes descritos se aplican únicamente a información personal:</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li>Que usted nos ha proporcionado previamente; y</li>
                                <li>que sometamos a tratamiento por medios automatizados.</li>
                            </ul>
                            <p>Si bien no tenemos inconveniente en que se presenten tales solicitudes, no podemos garantizar la compatibilidad técnica con los sistemas de otra organización. Tampoco podremos cumplir con solicitudes relacionadas con la información personal de terceros, si no contamos con su consentimiento.</p>
                            <p>&nbsp;</p>
                            <p>Puede ejercer cualquiera de los derechos antes citados poniéndose en contacto con nosotros por medio de los métodos descritos en la <a href="https://www.michaelpage.es/politica-privacidad#contact">Sección de contacto</a> que figura a continuación.</p>
                            <p>&nbsp;</p>
                            <p>La mayor parte de los derechos mencionados están sujetos a limitaciones y excepciones. En caso de que no podamos cumplir con cualquier solicitud de ejercicio de sus derechos, le ofreceremos una justificación.</p>
                            <p><strong>Consentimiento</strong></p>
                            <p>En la medida en que estemos procesando su información personal sobre la base de su consentimiento, usted tiene derecho a retirar su consentimiento en cualquier momento. Puede hacerlo poniéndose en contacto con nosotros a través de los datos que aparecen en la <a href="https://www.michaelpage.es/politica-privacidad#contact">Sección de contacto</a> que figura a continuación.</p>
                            <p>&nbsp;</p>
                            <p><strong>Avisos sobre ofertas laborales</strong></p>
                            <p>Para recibir correos electrónicos con ofertas laborales, deberá proporcionar su nombre y dirección de correo electrónico, que se utilizará con los fines de mantenerlo/a informado/a, por correo electrónico, de las ofertas de trabajo más recientes en su sector y de hacerle llegar noticias sobre su sector, así como información relacionada con nuestros servicios.</p>
                            <p>&nbsp;</p>
                            <p>Si no desea seguir recibiendo esta información, se proporcionarán enlaces para darse de baja automáticamente cada vez que reciba un aviso sobre una oportunidad laboral. </p>
                            <p>&nbsp;</p>
                            <p><strong>Curriculum Vitae</strong></p>
                            <p>Le damos la opción de enviar su CV a través de nuestro sitio web, o bien aplicando directamente a una posición concreta que le pueda interesar o bien enviando su cv para que nuestros consultores de contratación de personal lo tengan en cuenta para futuras oportunidades. </p>
                            <p>Su CV quedará registrado en nuestra base de datos para que nuestros consultores puedan acceder a él.</p>
                            <p>&nbsp;</p>
                            <p>Puede actualizar su CV en cualquier momento siguiendo los mismos pasos que siguió al enviar su CV por primera vez. Si sus datos de envío son los mismos (por ejemplo, envía ambos CV usando el mismo correo electrónico o informa a su contacto pertinente que ha vuelto a enviar su CV), su CV anterior se archivará automáticamente.</p>
                            <p><strong>Información con datos agregados sobre nuestros usuarios</strong></p>
                            <p>Recogemos información y estadísticas de forma colectiva sobre todos los visitantes de nuestro sitio y los sitios web TalEndorse, S.A., por ejemplo, recabamos información sobre:</p>
                            <p>&nbsp;</p>
                            <ul>
                                <li>A qué parte acceden los usuarios con mayor frecuencia; y/o</li>
                                <li>qué servicios usan más los usuarios.</li>
                            </ul>
                            <p>&nbsp;</p>
                            <p>Usamos estos datos únicamente como datos agregados. Esta información nos ayuda a determinar qué es lo más conveniente para nuestros usuarios y cómo podemos mejorar continuamente nuestros servicios en línea a fin de que los usuarios tengan una mejor experiencia general.</p>
                            <p><strong>Uso de <em>cookies</em></strong></p>
                            <p>Como la mayoría de los sitios web, cuando usted visita nuestros sitios colocamos cookies en su ordenador u otro dispositivo. En su mayor parte, estas <em>cookies</em> se utilizan para permitir la funcionalidad del sitio web, mejorar la experiencia del usuario, ayudarnos a optimizar nuestros sitios web, para medir el tráfico y con otros fines de gestión interna  </p>
                            <p>&nbsp;</p>
                            <p>Colocamos anuncios publicitarios en banners pertinentes y adaptados a sus intereses en una serie de sitios web seguros de todo el mundo con el fin de ofrecerle trabajos y contenido que consideramos que será de su interés. El contenido de estos anuncios se basa en sus interacciones previas con nuestro sitio web, nuestros mensajes de correo electrónico y en el contacto que haya tenido con nuestros consultores. Su interacción con nuestra publicidad se podrá utilizar para medir la eficacia de nuestras campañas publicitarias y para mejorar nuestra estrategia de marketing de conformidad con nuestros intereses legítimos. Ninguna campaña publicitaria ni ninguna tecnología de rastreo con fines publicitarios registra información que lo pueda identificar personalmente. </p>
                            <p>&nbsp;</p>
                            <p>Puede obtener más información sobre nuestro uso de <em>cookies</em>, incluyendo cómo rechazar <em>cookies</em>, en nuestra <a href="https://www.michaelpage.es/cookies">Política sobre cookies</a></p>
                            <p><strong>Reclamaciones</strong></p>
                            <p>Si no está conforme con la manera en que usamos su información personal, puede ponerse en contacto con nosotros usando los datos que figuran en la <a href="https://www.michaelpage.es/politica-privacidad#contact">Sección de contacto</a> que aparece a continuación. También tiene derecho a presentar una reclamación Regulador de protección de datos usando cualquiera de los métodos de contacto siguientes:</p>
                            <p>&nbsp;</p>
                            <p><strong>Teléfono:</strong> +34 91399 6200</p>
                            <p>&nbsp;</p>
                            <p><strong>Sitio web:</strong> <a href="https://www.agpd.es/">https://www.agpd.es/</a></p>
                            <p>&nbsp;</p>
                            <p><strong>Dirección postal: </strong>Agencia de Protección de Datos</p>
                            <p>C/Jorge Juan, 6</p>
                            <p>28001 Madrid</p>
                            <p>&nbsp;</p>
                            <p>Si vive o trabaja fuera de España, o si desea presentar una reclamación acerca de nuestras actividades fuera de España, puede que prefiera presentar la reclamación ante otra autoridad de control. <a href="http://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm">Aquí</a> podrá encontrar una lista de las autoridades pertinentes dentro del EEE y de la Zona Europea de Libre Comercio.</p>
                            <p><strong>Otros sitios web</strong></p>
                            <p>Tenga en cuenta que, si hace clic en algún anuncio publicitario tipo <em>banner</em> en nuestros sitios web, es posible que su navegador acceda a un sitio web de terceros, en los que las prácticas de privacidad de datos serán diferentes de las de las Compañías. </p>
                            <p>&nbsp;</p>
                            <p>No nos hacemos responsables, y no tenemos ningún control sobre, información que se envíe a dichos terceros, o que dichos terceros recojan, y le corresponderá a usted consultar sus políticas de privacidad. </p>
                            <p>&nbsp;</p>
                            <p><strong>Transferencias por internet</strong></p>
                            <p>Dado que internet es un entorno mundial, el uso de internet para recoger y tratar datos personales necesariamente implica transmitir datos a nivel internacional. Lamentablemente, no se puede garantizar completamente la seguridad de las transmisiones de información por internet. Si bien haremos todo lo que esté a nuestro alcance para proteger sus datos personales, no podemos garantizar la seguridad de sus datos cuando estos hayan sido transmitidos a nuestro sitio web a través de redes de terceros. Usted asumirá el riesgo de cualquier transmisión. Una vez que recibimos su información, aplicaremos procedimientos estrictos y medidas de seguridad rigurosas para intentar evitar el acceso no autorizado.</p>
                            <p>&nbsp;</p>
                            <p><strong>Cambios a nuestra Política de privacidad</strong></p>
                            <p>Las Compañías podrán modificar esta política de privacidad en cualquier momento. Le informaremos por correo electrónico (si nos ha proporcionado su dirección de correo electrónico) acerca de cualquier cambio o actualización sustancial que efectuemos en nuestra política de privacidad. </p>
                            <p>&nbsp;</p>
                            <p><strong>Igualdad de oportunidades</strong></p>
                            <p>Las Compañías aplican una política de igualdad de oportunidades y es una empresa comprometida con la diversidad. Esto significa que todos los candidatos a puestos de trabajo, así como los interlocutores finales, serán tratados equitativamente y que no discriminaremos a nadie por motivos de género, estado civil, raza, origen étnico, color de piel, nacionalidad, país de origen, discapacidad, orientación sexual, religión o edad.</p>
                            <p>Como parte de nuestro compromiso con la igualdad de oportunidades, cuando sea oportuno, utilizaremos la información que usted nos ha proporcionado a efectos de llevar un control de la diversidad. Esta información se utilizará de forma que los datos siempre sean anónimos. </p>
                            <p><strong>Contacto</strong></p>
                            <p>Si tiene alguna consulta o si quiere ponerse en contacto con nosotros sobre el modo en que tratamos su información personal, incluido el ejercicio de sus derechos como se ha descrito, póngase en contacto con nosotros por correo electrónico o por carta a la siguiente dirección</p>
                            <p>&nbsp;</p>
                            <p><strong>Formulario para el tratamiento de datos: </strong><a href="https://talendorse.com/#contact_main">https://talendorse.com/#contact_main</a></p>
                            <p>&nbsp;</p>
                            <p><strong>Dirección de correo electrónico</strong>: talendorse@talendorse.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER -->
        <div th:replace="general :: footer"></div>

        </div>
        <!-- SIDEBAR -->
        <div th:replace="general.html :: sidebar(islogged2=${logged}, usrId=${userId}, profileUrl2=${urlAvatar}, userName=${name}, userSurname=${surname}, userEmail=${email}, isAdmin=${isAdmin})"></div>


        <!-- SCRIPTS -->
        <div th:replace="general :: scripts"></div>
        <!--<script src="/js/jquery.scrollbar.min.js" type="text/javascript"></script>-->
        <script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
        <!--<script src="/js/home.js" type="text/javascript"></script>-->
    </body>
</html>