<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" type="image/png" href="/images/te_icon.png">
		<title>Talendorse. The net works.</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Talendorse">

		<!-- Styles -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css" />
		<link rel="stylesheet" href="/css/icons.css">
		<link rel="stylesheet" href="/css/animate.min.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/custom-style.css" />
		<link rel="stylesheet" type="text/css" href="/css/responsive.css" />
		<link rel="stylesheet" type="text/css" href="/css/chosen.css" />
		<link rel="stylesheet" type="text/css" href="/css/colors/colors.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	</head>
	<body>

	<div class="page-loading">
		<img src="/images/loader.gif" alt="" />
		<span>Skip Loader</span>
	</div>

	<div class="theme-layout" id="scrollup">

		<!-- RESPONSIVE HEADER -->
		<div th:replace="general.html :: responsive_header(islogged3=${logged}, usrId3=${userId}, profileUrl3=${urlAvatar}, userName3=${name}, userSurname3=${surname}, userEmail3=${email}, isAdmin3=${isAdmin})"></div>

		<!-- HEADER -->
		<div th:replace="general.html :: header(isLogged=${logged}, profileUrl=${urlAvatar})"></div>

		<section class="overlape">
			<div class="block no-padding">
				<div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
				<div class="container fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="inner-header">
								<h3>Recomendar</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="block">
				<div class="container">
					 <div class="row">
						<div class="col-lg-12 column">
							<div class="contact-form">
								<h3><b>Información del candidato:</b></h3>
								<form>
									<div class="row" style="margin-top: 30px;">
										<div class="col-lg-6">
											<span class="pf-title">Nombre y apellidos</span>
											<div class="pf-field">
												<input id="candidateName" name="name" type="text" placeholder="" required/>
											</div>
										</div>
										<div class="col-lg-6">
											<span class="pf-title">Email</span>
											<div class="pf-field">
												<input id="candidateEmail" name="email" type="text" placeholder=""
													   pattern="/^[^\s@]+@[^\s@]+\.[^\s@]+$/" required/>
											</div>
										</div>
										<div class="col-lg-12" style="margin-top: 20px;">
											<span class="pf-title">Naturaleza de la relación</span>
											<div class="dropdown-field">
												<select id="candidateRelation" data-placeholder="Porfavor selecciona cual ha sido su relación" class="chosen">
													<option value="1">Hemos trabajado juntos en el mismo proyecto o equipo</option>
													<option value="2">Hemos trabajado juntos indirectamente</option>
													<option value="3">He oido hablar de sus aptitudes</option>
													<option value="4">Era su supervisor</option>
													<option value="5">Era su jefe</option>
													<option value="6">Ninguna de las anteriores</option>
												</select>
											</div>
										</div>
										<div class="col-lg-12" style="margin-top: 20px;">
											<span class="pf-title">Recomendación</span>
											<div class="pf-field">
												<textarea id="candidateDescription" name="description" required></textarea>
											</div>
										</div>
										<div class="col-lg-12">
											<button id="endorse_btn" th:data-idOffer="${idOffer}" th:data-iduser="${userId}" th:data-token="${token}" th:data-name="${name}" th:data-email="${email}" th:onclick="endorse('#endorse_btn')">Send</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					 </div>
				</div>
			</div>
		</section>

		<!-- FOOTER -->
		<div th:replace="general :: footer"></div>

	</div>

	<!-- SIDEBAR -->
	<div th:replace="general.html :: sidebar(islogged2=${logged}, usrId=${userId}, profileUrl2=${urlAvatar}, userName=${name}, userSurname=${surname}, userEmail=${email}, isAdmin=${isAdmin})"></div>


	<!-- SCRIPTS -->
	<div th:replace="general :: scripts"></div>

	<script th:inline="javascript" src="/js/referral.js" type="text/javascript"></script>

	<div class="account-popup-area">
		<div class="account-popup">
		</div>
	</div>

	</body>
</html>

