<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="general.html :: headerScripts"></th:block>

	<style type="text/css">
		.range_bar {
			width: 100%;
			-webkit-appearance: none;
			width: 100%;
			height: 5px;
			background: #d3d3d3;
			outline: none;
			opacity: 0.7;
			-webkit-transition: .2s;
			transition: opacity .2s;
			float:left;
		}

		.range_bar:hover {
			opacity: 1;
		}

		.range_bar::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 25px;
			height: 25px;
			background: rgb(162, 224, 232);
			cursor: pointer;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
		}

		.range_bar::-moz-range-thumb {
			width: 25px;
			height: 25px;
			background: rgb(162, 224, 232);
			cursor: pointer;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
		}
		.range_value_bar{
			width: 100%;
			position: relative;
			float: left;
			display: flex;
			margin-top: 15px;
		}
		.range_min{
            margin-top: 15px;
            float: left;
            clear: left;
			text-align: left;
			flex: auto;
		}
		.range_max{
            margin-top: 15px;
            float: right;
            clear: right;
			text-align: right;
			flex: auto;
		}
		.range_value {
            margin-bottom: 15px;
            float: left;
            clear: left;
			text-align: center;
			flex: auto;
		}
        .column {
            padding: 0 20px;
        }

	</style>
</head>
<body>

<div class="page-loading">
	<img src="/images/loader.gif" alt="" />
	<span>Skip Loader</span>
</div>

<div class="theme-layout" id="scrollup">


	<!-- RESPONSIVE HEADER -->
	<div th:replace="general.html :: responsive_header(islogged3=${logged}, usrId3=${userId}, profileUrl3=${urlAvatar}, userName3=${name}, userSurname3=${surname}, userEmail3=${email}, isAdmin3=${isAdmin})"></div>

	<!-- HEADER -->
	<div th:replace="general.html :: header(isLogged=${logged}, profileUrl=${urlAvatar})"></div>


	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url(http://placehold.it/1600x800) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>Resultados de la búsqueda</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
				 	<aside class="col-md-3 column border-right">
						<form action="" type="post" enctype="application/x-www-form-urlencoded">
							<div class="widget">
								<div class="search_widget_job">
									<div class="field_w_search">
										<input name="search" id="keywords" type="text" placeholder="Palabras clave" th:value="${keyword}"/>
										<i class="la la-search"></i>
									</div><!-- Search Widget -->
								</div>
							</div>
							<div class="widget">
								<h3 class="sb-title open">Localización</h3>
								<div class="specialism_widget">
									<div class="simple-checkbox">
										<p th:each="city: ${listFilters.list_cities}" th:object="${city}">
											<input type="checkbox" name="city" th:id="*{id}" th:value="*{name}">
											<label th:for="*{id}" th:text="*{name} + ' (' + *{num_instances} + ')'"></label>
										</p>
									</div>
								</div>
							</div>
							<div th:if="${listFilters}" class="widget">
								<h3 class="sb-title open">Posición</h3>
								<div class="specialism_widget">
									<div class="simple-checkbox">
										<p th:each="study: ${listFilters.list_studies}">
											<input type="checkbox" name="position" th:id="${study}" th:value="*{study}">
											<label th:for="${study}" th:text="${study}"></label>
										</p>
									</div>
								</div>
							</div>
							<div class="widget">
								<h3 class="sb-title open">Experiencia</h3>
								<div class="posted_widget">
                                    <span class="range_value"></span>
									<input class="range_bar" type="range" name="experience" id="experience" min="0" value="0" th:max="${listFilters.max_experience}" step="1">
                                    <span class="range_min">0</span><span class="range_max" th:text="${listFilters.max_experience}"></span>
								</div>
							</div>
							<div class="widget">
								<h3 class="sb-title open">Salario anual bruto</h3>
								<div class="posted_widget">
                                    <span class="range_value"></span>
                                    <input class="range_bar" type="range" name="salary" id="salary" th:value="${listFilters.min_salary}" th:min="${listFilters.min_salary}" th:max="${listFilters.max_salary}" step="1000">
                                    <span class="range_min" th:text="${listFilters.min_salary}"></span><span class="range_max" th:text="${listFilters.max_salary}"></span>
								</div>
							</div>
						</form>
				 	</aside>
				 	<div class="col-md-9 column">
				 		<div class="modrn-joblist">
					 		<div class="filterbar">
					 			<div class="sortby-sec">
					 				<span>Ordenar por</span>
					 				<select id="order" data-placeholder="Más nuevas" class="chosen">
										<option value="DESC">Más nuevas</option>
										<option value="ASC">Más antiguas</option>
									</select>
									<select id="pagination" data-placeholder="10 por página" class="chosen">
										<option value="10">10 por página</option>
										<option value="25">25 por página</option>
										<option value="50">50 por página</option>
										<option value="0">Todas</option>
									</select>
					 			</div>
								<h5 th:text="${listOffers.size()} + ' Ofertas'"></h5>
					 		</div>
						 	<div class="job-listings-sec">
								<a th:each="offer: ${listOffers}" th:object="${offer}" class="offer row" th:href="'offer/' + *{id_offer}">
									<div class="col-4 col-md-3 col-lg-2 col-xl-1 offer-image">
										<img th:src="*{path_image_company}" alt='' />
									</div>
									<div class="col-8 col-md-9 col-lg-8 col-xl-9 offer-company">
										<h2  th:text="*{position}"></h2>
										<h4  th:text="*{nameCompany}"></h4>
										<h5 class="d-none d-sm-block description" th:utext="*{summary}"></h5>

									</div>
									<div class="col-lg-2 d-none d-lg-flex offer-reward-lg">
										<div class='job-reward'><p th:text="*{reward}+' €'" class="reward"></p><p>Recompensa</p></div>
									</div>
									<div class="col-12 offer-details">
										<div class='job-data' th:inline="text"><i class="la la-map-marker la-2x"></i>  [[*{city}]]</div>
										<div class='job-data' th:inline="text"><i class="la la-money la-2x"></i>  [[*{salary_min}]]€ - [[*{salary_max}]]€</div>
										<div class='job-data d-none d-sm-block'><i class="la la-calendar la-2x"></i>  Empezó hace <strong th:text="*{time_from_start}"></strong> días</div>
										<div class='job-data d-none d-sm-block'><i class="la la-calendar la-2x"></i>  Acaba en <strong th:text="*{time_to_end}"></strong> días</div>
									</div>
									<div class="col-12 d-block d-lg-none">
										<div class='offer-reward'><p th:text="*{reward}+' €'"></p>Recompensa</div>
									</div>
								</a>
							</div>
<!--							<div class="viewmore"><span><i></i><i></i><i></i>View More</span></div>-->
						</div>
					</div>
				 </div>
			</div>
		</div>
	</section>

	<!-- FOOTER -->
	<!-- FOOTER -->
	<div th:replace="general.html :: footer"></div>

</div>

<!-- SIDEBAR -->
<div th:replace="general.html :: sidebar(islogged2=${logged}, usrId=${userId}, profileUrl2=${urlAvatar}, userName=${name}, userSurname=${surname}, userEmail=${email}, isAdmin=${isAdmin})"></div>


<!-- SCRIPTS -->
<div th:replace="general.html :: scripts"></div>
<!--<script src="js/search.js" type="text/javascript"></script>-->

<script type="text/javascript">
	var refresh = null;

	function getFilteredOffers(){
		var urlPost = ws_local_url + "getAllFilteredOffers";
		var keyword = $("#keywords").val();
		var salary= $("#salary").val();
		var experience= $("#experience").val();

		var positions=[];
		$("input[name='position']:checked").each(function () {
			positions.push($(this).val());
		});
		var cities = [];
		$("input[name='city']:checked").each(function () {
			cities.push($(this).val());
		});
		var pageSize = $("#pagination").val();
		var numPage = 0;
		var order = $("#order").val();

		str = {"keyword":keyword,"salary":salary,"experience":experience,"positions":JSON.stringify(positions),"cities": JSON.stringify(cities) ,"pageSize":pageSize,"numPage":numPage,"order":order};
		var dataPost =$.param(str);

		$.ajax({
			type: "POST",
			url: urlPost,
			data: dataPost,
			contentType: "application/x-www-form-urlencoded",
			dataType: "json",
			success: function (data) {
				listJobs(data.message);
			},
			failure: function (data) {
				$(".job-listings-sec").html("<h3>There are no job offers available.</h3>")
			}
		});
	}

	function listJobs(data){
		$(".job-listings-sec").empty();
		$.each(data,function(i,d){

			var html = "<a href='" + d.path_image_company + "' class='job-listing rounded'>";
			html += "<div class='job-title-sec'><div class='c-logo'><img src='"+d.path_image_company+"' alt='' /> </div><h3>"+d.nameCompany+"</h3><span>"+d.position+"</span></div>";
			html += "<span class='job-lctn'><i class='la la-map-marker'></i>"+d.city+"</span>";
			html += "<span class='job-dates'><i class='la la-calendar-o'></i>"+d.date_init+" - "+d.date_end+"</span>";
			html += "<span class='job-is'>"+d.reward+" €</span>";
			html += "</a>";

			html =  '';
			html *= '<a class="offer row" href="offer/' + ID_OFFER + '" >';
			html += '<div class="col-4 col-md-3 col-lg-2 col-xl-1 offer-image">';
			html += '<img src="'+PATH_IMAGE+'" alt="'+COMPANY_NAME+'" />';
			html += '</div>';
			html += '<div class="col-8 col-md-9 col-lg-8 col-xl-9 offer-company">';
			html += '<h2>'+OFFER_POSITION+'</h2>';
			html += '<h4>'+COMPANY_NAME+'</h4>';
			html += '<h5 class="d-none d-sm-block description">'+OFFER_SUMMARY+'</h5>';
			html += '</div>';
			html += '<div class="col-lg-2 d-none d-lg-flex offer-reward-lg">';
			html += '<div class="job-reward"><p class="reward">'+REWARD+' €</p><p>Recompensa</p></div>';
			html += '</div>';
			html += '<div class="col-12 offer-details">';
			html += '<div class="job-data"><i class="la la-map-marker la-2x"></i>  '+OFFER_CITY+'</div>';
			html += '<div class="job-data"><i class="la la-money la-2x"></i>  '+OFFER_SALARY_MIN+' - '+OFFER_SALARY_MAX+'</div>';
			html += '<div class="job-data d-none d-sm-block"><i class="la la-calendar la-2x"></i>  Empezó hace <strong>'+OFFER_TIME_FROM_START+'</strong> días</div>';
			html += '<div class="job-data d-none d-sm-block"><i class="la la-calendar la-2x"></i>  Caduca en <strong>'+OFFER_TIME_TO_END+'</strong> días</div>';
			html += '</div>';
			html += '<div class="col-12 d-block d-lg-none">';
			html += '<div class="offer-reward"><p>'+REWARD+' €</p>Recompensa</div>';
			html += '</div>';
			html += '</a>';

			$(".job-listings-sec").append(html);
		});
	}
	$(document).ready(function () {
		$(".range_value").each(function () {
			$(this).html($(this).siblings("input").val());
		});
		$(".range_bar").on("change focus active click dragStart",function(){
			$(this).siblings(".range_value").html($(this).val());
		});

		$("#experience, #salary, #experience, input[name='position'], input[name='city']").change(function () {
			if(refresh)
			{
				clearTimeout(refresh);
				refresh = null;
			}
			refresh = setTimeout(function(){getFilteredOffers();}, 2000);
		});
		$("#keywords").on("keyup click change", function () {
			if(refresh)
			{
				clearTimeout(refresh);
				refresh = null;
			}
			refresh = setTimeout(function(){getFilteredOffers();}, 2000);
		})
		$("#pagination, #order").change(function () {
			if(refresh)
			{
				clearTimeout(refresh);
				refresh = null;
			}
			getFilteredOffers();
		})
	});
</script>

</body>
</html>
